/* =======================================================
*
* 	Template Style
*	Edit this section
*
* ======================================================= */

// Template Base


.mt {
  margin-bottom: 20px;
}

.u-ml {
  margin-left: 20px;
}

.u-mr {
  margin-right: 20px;
}

.u-mt--small {
  margin-top: 10px;
}
.m-none {
  margin: 0 0 !important;
}


// Helper Class

.col-xxs-12 {
  @media screen and (max-width: 480px) {
    float: none;
    width: 100%;
  }
}

.border-bottom {
  border-bottom: 1px solid rgba($brand-black, .06);
}

.lead {
  line-height: 1.8;
}

.text-white {
  color: $brand-white;
}

